body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.div-item {
  border: 0.1px solid rgba(190, 190, 190, 0.164);
}

.grid-wraper {
  width: 50px;
  height: 500px;
  background-color: rgb(32, 32, 32);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.second {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

